name: "CD Release Windows"

on:
    release:
        types:
            - "published"

jobs:
    release_windows_x86_64:
        runs-on: "windows-latest"
        permissions:
            contents: "write"  # Needed by shogo82148/actions-upload-release-asset
        steps:
            - uses: "actions/checkout@v5"
            - name: "Set Up Node"
              uses: "actions/setup-node@v4"
              with:
                  node-version: "22.x"
                  cache: "npm"
            - run: "npm ci"
            - run: "npm run build"
            - run: "npm run package-win-ci"
            - name: "Get App Version"
              id: "package-version"
              shell: bash
              # 'jq' is already installed. See: https://github.com/actions/runner-images/blob/main/images/windows/Windows2025-Readme.md
              run: |
                version="$(jq -r '.version' package.json)"
                echo "version=${version}"
                echo "version=${version}" >> "${GITHUB_OUTPUT}"

            - name: "Upload Windows .zip"
              uses: "shogo82148/actions-upload-release-asset@v1.9.1"
              with:
                  upload_url: ${{ github.event.release.upload_url }}
                  asset_path: bin\\win\\x64\\fluentflame-reader-win-x64-${{ steps.package-version.outputs.version }}.zip

            - name: "Upload Windows NSIS Installer"
              uses: "shogo82148/actions-upload-release-asset@v1.9.1"
              with:
                  upload_url: ${{ github.event.release.upload_url }}
                  asset_path: bin\\win\\x64\\fluentflame-reader-win-x64-installer-${{ steps.package-version.outputs.version }}.exe
