name: "CD Release Linux"

on:
    release:
        types:
            - "published"

jobs:
    release_linux_x86_64_appimage:
        runs-on: "ubuntu-latest"
        permissions:
            deployments: "write"
        steps:
            - uses: "actions/checkout@v5"
            - name: "Set Up Node"
              uses: "actions/setup-node@v4"
              with:
                  node-version: "22.x"
                  cache: "npm"
            - run: "npm ci"
            - run: "npm run build"
            - run: "npm run package-appimage"
            - name: "Packaging Setup"
              run: |
                sudo apt update
                sudo apt install jq

            - name: "Get App Version"
              id: "package-version"
              run: |
                version="$(jq -r '.version' package.json)"
                echo "version=${version}"
                echo "version=${version}" >> "${GITHUB_OUTPUT}"

            - name: "Upload AppImage"
              uses: "shogo82148/actions-upload-release-asset@v1.9.1"
              with:
                  upload_url: ${{ github.event.release.upload_url }}
                  asset_path: ./bin/linux/x64/fluentflame-reader-x86_64-${{ steps.package-version.outputs.version }}.AppImage
